name: CI

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [8.2, 8.3, 8.4, 8.5]
        composer_flags: [ '', '--prefer-lowest' ]

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        extensions: pdo, sqlite
        coverage: none
        # this ini directive seems to be off by default in PHP 8.5
        # see https://github.com/php/php-src/issues/20279
        # enable it because codeception relies on it.
        ini-values: register_argc_argv=1

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Install dependencies
      run: composer update --prefer-dist --no-progress --no-interaction ${{ matrix.composer_flags }}

    - name: Run test suite
      run: php vendor/bin/codecept run

    - name: Run source code analysis
      if: "${{ matrix.composer_flags == '' }}"
      run: php vendor/bin/phpstan
      
